# Répertoire de projet d'IDE
nbproject
*.project
*.settings

# Fichiers fantôme
*._*
*.~lock.*
*.buildpath
*.DS_Store
*~
*.thumb
*.tmp
*.swp
*.swo
*.idea

# Fichier de configuration
data/*
backups/*
lib/config.json
dockerfiles/postgres/require/dbexport.pgsql
dockerfiles/nginx/require/sites-enabled/*
dockerfiles/nginx/require/htpasswds/*