# Répertoire de projet d'IDE
nbproject
*.project
*.settings

# Fichiers fantôme
*._*
*.~lock.*
*.buildpath
*.DS_Store
*~
*.thumb
*.tmp
*.swp
*.swo
*.idea

# Fichier de configuration
config.sh
library/dev
dockerfiles/postgres/JOIN/data/dump/*.pgsql
logs/*.log

# Fichiers après construction des containers
dockerfiles/nginx/LINK/log/*.log
dockerfiles/nginx/LINK/htpasswds/*/htpasswd
dockerfiles/nodejs_bower_grunt/JOIN/package.json
dockerfiles/nginx/LINK/sites-enabled/*
dockerfiles/nginx/LINK/www/*